
@-webkit-keyframes -webkit-pulse {
    0% { opacity: 1.0; }
    50% { opacity: 0.4; }
    100% { opacity: 1.0; }
}

@keyframes pulse {
    0% { opacity: 1.0; }
    50% { opacity: 0.4; }
    100% { opacity: 1.0; }
}

.blinking {
    -webkit-animation-name: -webkit-pulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.game-columns {
    font-size: 200%;
    margin: 100px;
    display: flex;
}

.lunch-table {
    display: flex;
    margin: 1em;
}

.table-top {
    height: 5em;
    width: 3em;
    background: #cbcbcb;
    box-shadow: 0em 0em 0.1em #3a3a3a;
    cursor: pointer;
}

.table-top:hover {
    opacity: 0.8;
}

.table-side {
    padding-left: 0.5em;
    height: 5em;
    width: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.patron {
    height: 1em;
    width: 1em;
    text-align: center;
}

.patience {
    font-size: 50%;
    height: 100%;
    padding-top: 0.35em;
}

.patron:hover {
    opacity: 0.5;
}

.in-queue {
    margin-right: 0.5em;
    display: inline-block;
}

.foods {
    float: left;
    text-align: center;
}

.food {
    display: inline-block;
    width: 1em;
    height: 1em;
    background:grey;
    border-radius: 1em;
    margin-right: 0.5em;
}
